@import "{{ site.theme }}";

body {
    font-family: 'Open Sans', Arial, sans-serif;
    padding: 20px;
    max-width: 900px;
    margin: auto;
}

header h1 {
    color: #2a7ae2;
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
}

ul li a {
    color: #2a7ae2;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}